.product-listing{
    padding: 0;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-row-gap:103px;
    grid-column-gap:41px;
    grid-template-columns: 386px 386px 386px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: initial;
}

@media (max-width: 1560px){
    .product-listing{
        grid-template-columns: 386px 386px;
        justify-content: space-evenly;
    }
}
@media (max-width: 830px){
    .product-listing{
        grid-template-columns: 386px;
        justify-content: center;
    }
}
